:root {
  --background-color: #fcfdfe;
  --main-color: #132779;
  --text-color: #091a5f;
  --link-color: #1E3699;
  --visited-color: #1E3699;
  --active-color: #fcfdfe;
  --project-color: #767676;
  --font-bold: 700;
  --font-normal: 400;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

:target:before {
  content: "";
  display: block;
  height: 150px;
  margin: -150px 0 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-normal);
  color: var(--main-color);
  font-size: 18px;
  line-height: 150%;
  background-color: var(--background-color);
}

h1 {
  font-size: 30px;
  font-weight: var(--font-bold);
  color: var(--main-color);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-bold);
  color: var(--main-color);
}

h3 {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--main-color);
}

a {
  font-size: 20px;
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: #465EC1;
}

a:active {
  color: var(--active-color);
}


/* ----------------------- Header ----------------------- */
.page-header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  width: 95%;
  max-width: 1200px;
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0 0.8rem;
  border-bottom: 2px solid var(--project-color);;
  overflow: hidden;
  z-index: 300;
}

.page-header__item:last-child {
  flex-grow: 2;
  text-align: right;
}

.navigation-logo {
  animation: fadeIn;
  animation-duration: 1s;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  padding: 5px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* ----------------------  Profile Section ------------------ */

.profile {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  font-size: 20px;
  width: 95%;
  max-width: 1200px;
  justify-content: center;
  margin: 4rem auto;
  padding: 6rem 1rem;
  background-image:
    linear-gradient(to right, rgba(48, 48, 48, 0.3), rgba(48, 48, 48, 0.7)),
    url('/img/pano.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}

.profile__portrait {
  width: 20rem;
  margin: 15px 50px 15px 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.profile__portrait:hover {
  box-shadow: 0 10px 13px 0 rgba(255, 255, 255, 0.3);
}

.profile__text {
  color: var(--background-color);
  margin: 90px 10px 15px 10px;
  padding: 15px;
  text-align: center;
}

.web-text {
  display: inline-block;
  margin: 0;
  background-color: var(--main-color);
  color: var(--background-color);
  font-size: 18px;
}

.web-text:hover {
  animation: bouneIn;
  animation-duration: 2s;
}

/* ------------------- About Section ----------------------- */
.about {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: center;
  font-size: 20px;
  width: 95%;
  max-width: 1200px;
  margin: 4rem auto;
  border-top: 2px solid var(--project-color);;
  border-bottom: 2px solid var(--project-color);;
  padding: 6rem 2rem;
}

.about__item {
  flex-basis: 100%;
  padding: 0;
  max-width: 45%;
  text-align: center;
}

.wrapper {
  /* width: 400px; */
  margin: 0 auto;
}

.skill {
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.skill > p {
  font-size: 18px;
  /* font-weight: 700; */
  margin: 0;
  text-align: left;
}

.skill:before{
  width: 100%;
  height: 6px;
  content: "";
  display: block;
  position: absolute;
  background: #8A8A8A;
  bottom: 0;
}

.skill-header {
  color: var(--background-color);
}

.skill-bar {
  width: 100%;
  height: 6px;
  background: var(--link-color);
  display: block;
  position: relative;
}

.skill-bar:hover {
  animation: fadeIn;
  animation-duration: 1.5s;
}

.skill-bar span{
  position: absolute;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-count {
  right: 0;
}

/* SKILL 1 */
.skill1 {
  width: 90%;
  right: 0;
}

/* SKILL 2 */
.skill2 {
  width: 83%;
  right: 0;
}

/* SKILL 3 */
.skill3 {
  width: 78%;
  right: 0;
}

/* SKILL 4 */
.skill4 {
  width: 73%;
  right: 0;
}

/* SKILL 5 */
.skill5 {
  width: 68%;
  right: 0;
}

/* SKILL 6 */
.skill6 {
  width: 60%;
  right: 0;
}

/* ---------------- Work Section -------------------- */
.work {
  text-align: center;
  margin: 4rem auto;
  max-width: 1200px;
  padding: 3rem 4rem;
}

.work-header {
  padding-bottom: 1rem;
}

/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
}

.project-list__text {
  color: var(--background-color);
  text-decoration: none;
}

.project-photo {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  border-radius: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  background-color: #132779c9;
  border-radius: 0.5rem;
}

.project-text {
  color: var(--background-color);
  position: relative;
  top: 40%;
  left: 50%;
  padding: 1rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.project-list__item {
  background-color: var(--project-color);
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* end grid fallback */

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-gap: 2rem;
    margin: 15px 25px;
    justify-content: center;
  }
}

/* ------------------- Case Study ----------------- */
.case-study {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  max-width: 1100px;
  margin: 1rem auto;
  padding: 1rem 1rem;
}

.cs-header {
  text-align: center;
}

.cs-text {
  max-width: 500px;
}

.cs-image-1 {
  flex: 0 1 auto;
  align-self: center;
  max-width: 650px;
}

.cs-image-2 {
  max-width: 500px;
}

.cs-image-3 {
  max-width: 250px;
}

.cs-image-4 {
  max-width: 650px;
}

.cs-image-5 {
  max-width: 500px;
}

.cs-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}


/* ----------------- Contact Page ------------ */

.contact {
  text-align: center;
  width: 95%;
  max-width: 1200px;
  margin: 4rem auto;
  padding: 6rem 1rem 1rem;
  border-top: 2px solid var(--project-color);;
}

.container-out {
  padding: 15px 0; /* adds padding at the top and bottom of the outer container */
  max-width: 400px; /* gives the outer container a maximum width of 400px */
  margin: 0 auto; /*centers the outer container in the middle of the body */
}

.container-in {
  padding: 30px 0; /* adds padding at the top and bottom of the inner container */
  width: 95%; /* width of inner container equals 95% of the outer container */
  margin: 0 auto; /*centers the outer container in the middle of the outer container */
  background: var(--project-color); /* gives the inner container a background color */
  border-radius: 5px; /* curves the edges of the inner container by 5px */
}

.contact-form {
  width: 85%; /* width of inner container equals 85% of the inner container */
  margin: 0 auto; /*centers the outer container in the middle of the inner container */
}

.contact-form p {
  margin: 0; /* removes all margins from the p tags */
  margin: 5px 0; /* add 5px margin at the top and bottom of the p tags */
  color: var(--background-color); /* changes the text color of the p tag to white */
}

.contact-form input {
  border: none; /* removes the border on the input */
  width: 100%; /* makes the input width same as the contact-form div*/
  margin-bottom: 15px; /* adds margin at the bottom of the input */
  padding: 10px; /* adds 10px padding to all sides of the input */
  box-sizing: border-box; /* prevents the input from overflowing out of the parent div */
  border-radius: 3px; /* curves the edges of the input by 3px */
}

.contact-form textarea {
  width: 100%; /* makes the textarea width same as the contact-form div */
  padding: 10px; /*  adds 10px padding to all sides of the input */
  box-sizing: border-box; /* prevents the input from overflowing out of the parent div */
  border-radius: 3px; /* curves the edges of the input by 3px */
  min-height: 120px; /* gives the text-area a minimum height of 120px */
  margin-bottom: 15px; /* adds margin at the bottom of the textarea */
  resize: vertical; /* limits resizing to vertical resizing */
}



/* ---------------- Footer -------------- */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media {
  margin: 0.1rem 1rem 4rem;
}

.social-media__anchor,
.social-media__anchor:visited,
.social-media__anchor:active {
  color: var(--background-color);
}

.social-media__anchor:hover {
  color: var(--background-color);
  opacity: 0.8;
}

/* -------------- Buttons ----------------- */
button,
.button {
  border: none;
  font-family: inherit;
  color: var(--background-color);
  background-color: var(--link-color);
  padding: 0.75rem;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  font-size: 18px;
  border-radius: 7px;
  transition: 0.02s opacity;
  cursor: pointer;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* opacity: 0.9; */
  background-color: #465EC1;
}

/* ---------------- Media Queries ------------ */
@media all and (max-width: 480px) {
  .page-header {
    padding: 0.1rem 0.1rem;
  }

  .profile {
    margin: 1rem auto;
    padding: 1rem;
  }

  .about {
    margin: 1rem auto;
    padding: 0 1rem;
  }

  .about__item {
    margin: 5px;
    padding: 5px;
  }

  .work {
    margin: 1rem auto;
    padding: 0 0.5rem;
  }

  .project-list {
    grid-gap: 1rem;
    margin: 1rem;
  }

  .contact {
    margin: 1rem auto;
    padding: 2rem 1rem 0;
  }

  .social-media {
    margin: 0 1rem 2rem;
  }

}

@media all and (max-width: 576px) {
  .project-list {
    grid-template-columns: 1fr;
  }

  .page-header {
    justify-content: center;
    padding-top: 10px;
  }

  .page-header__item:last-child {
    text-align: center;
    margin-right: 40px;
  }

  .navigation-list {
    list-style-type: none;
  }

  .navigation-list li {
    display: inline-block;
  }

  .navigation-list__item--active {
    text-decoration: none;
  }

  .profile__portrait {
    width: 18rem;
    margin: 5px;
  }

  .profile__item {
    margin: 10px;
    padding: 10px;
  }

  .profile__text {
    margin: 25px 10px 10px 10px;
  }

  .about {
    width: 95%;
    margin: 10px;
  }
}

@media all and (min-width: 576px) and (max-width: 1024px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  .about__item {
    max-width: 85%;
  }

  .profile__text {
    margin: 25px 10px 10px 10px;
  }
}

@media all and (max-width: 768px) {
  .project-list {
    grid-gap: 10px;
  }

  .profile__portrait {
    margin: 5px;
  }

  .profile__item {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

  h1 {
    font-size: 22px;
  }

  .about__item {
    max-width: 95%;
  }

  .cs-text {
    max-width: 100%;
  }
  
  .cs-image-1 {
    flex: 0 1 auto;
    align-self: center;
    max-width: 95%;
  }
  
  .cs-image-2 {
    max-width: 95%;
  }
  
  .cs-image-3 {
    max-width: 70%;
  }
  
  .cs-image-4 {
    max-width: 95%;
  }
  
  .cs-image-5 {
    max-width: 99%;
  }

}

@media (hover: hover) and (pointer: fine) {
  .profile__portrait:hover {
    box-shadow: 0 10px 13px 0 rgba(255, 255, 255, 0.6);
  }

  .image-container:hover .overlay {
    opacity: 1;
  }
}
