/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --background-color: #fcfdfe;
  --main-color: #132779;
  --text-color: #091a5f;
  --link-color: #1E3699;
  --visited-color: #1E3699;
  --active-color: #fcfdfe;
  --project-color: #767676;
  --font-bold: 700;
  --font-normal: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-normal);
  color: var(--main-color);
  font-size: 20px;
  line-height: 150%;
  background-color: var(--background-color);
}

h1 {
  font-size: 30px;
  font-weight: var(--font-bold);
  color: var(--main-color);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-bold);
  color: var(--main-color);
}

h3 {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--main-color);
}

a {
  font-size: 20px;
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  color: var(--active-color);
}

/* ----------------------- Header ----------------------- */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: sticky;
  top: 0;
  width: 95%;
  max-width: 1200px;
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0.1rem 0.8rem;
  border-bottom: 2px solid var(--project-color);;
  overflow: hidden;
  z-index: 300;
}

.page-header__item:last-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  padding: 5px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* ----------------------  Profile Section ------------------ */

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 95%;
  max-width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
  padding: 3rem 1rem;
  background-image:
    -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 48, 0.3)), to(rgba(48, 48, 48, 0.7))),
    url('/img/pano.jpg');
  background-image:
    -o-linear-gradient(left, rgba(48, 48, 48, 0.3), rgba(48, 48, 48, 0.7)),
    url('/img/pano.jpg');
  background-image:
    linear-gradient(to right, rgba(48, 48, 48, 0.3), rgba(48, 48, 48, 0.7)),
    url('/img/pano.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}

.profile__portrait {
  width: 20rem;
  margin: 15px 50px 15px 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
          box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.profile__portrait:hover {
  -webkit-box-shadow: 0 10px 13px 0 rgba(255, 255, 255, 0.6);
          box-shadow: 0 10px 13px 0 rgba(255, 255, 255, 0.6);
}

.profile__text {
  color: var(--background-color);
  margin: 90px 10px 15px 10px;
  padding: 15px;
  text-align: center;
}

.web-text {
  display: inline-block;
  margin: 0;
  background-color: var(--main-color);
  color: var(--background-color);
  font-size: 18px;
}

#home::before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

/* ------------------- About Section ----------------------- */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  max-width: 1200px;
  margin: 10px auto;
  border-top: 2px solid var(--project-color);;
  border-bottom: 2px solid var(--project-color);;
  padding: 2rem;
}

.about__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 15px;
  padding: 10px;
  max-width: 45%;
  text-align: center;
}

/* ---------------- Work Section -------------------- */
.work {
  text-align: center;
  margin: 15px auto;
  max-width: 1200px;
  padding: 1rem 2rem 4rem;
}

.work-header {
  padding-bottom: 1rem;
}

/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
}

.image-container {
  position: relative;
  width: 100%;
}

.project-list__text {
  color: var(--background-color);
}

.project-photo {
  /* display: block; */
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  border-radius: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #132779c9;
  border-radius: 0.5rem;
}

.project-text {
  color: var(--background-color);
  position: relative;
  top: 40%;
  left: 50%;
  padding: 1rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.project-list__item {
  background-color: var(--project-color);
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* end grid fallback */

@supports (display: grid) {
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(10px, 1fr) 2rem minmax(10px, 1fr) 2rem minmax(10px, 1fr);
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-gap: 2rem;
    margin: 15px 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#work::before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

/* ----------------- Contact Page ------------ */

.contact {
  text-align: center;
  width: 95%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 4rem 1rem 1rem;
  border-top: 2px solid var(--project-color);;
}

#contact::before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

/* ---------------- Footer -------------- */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-media {
  margin: 0.1rem 1rem 4rem;
}

.social-media__anchor,
.social-media__anchor:hover,
.social-media__anchor:visited,
.social-media__anchor:active {
  color: var(--background-color);
}

/* -------------- Buttons ----------------- */
button,
.button {
  background-color: var(--link-color);
  border: 1px solid var(--main-color);;
  font-family: inherit;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 7px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.02s opacity;
  -o-transition: 0.02s opacity;
  transition: 0.02s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* ---------------- Media Queries ------------ */
@media all and (max-width: 480px) {
  .page-header {
    padding: 0.1rem 0.1rem;
  }

  .about {
    margin: 1rem auto;
    padding: 1rem;
  }

  .about__item {
    margin: 5px;
    padding: 5px;
  }

  .work {
    padding: 0.5rem 0.5rem 1rem;
  }

  .project-list {
    grid-gap: 1rem;
    margin: 1rem;
  }

  .contact {
    margin: 1rem auto;
    padding: 2rem 1rem 0.5rem;
  }
}

@media all and (max-width: 576px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .page-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }

  .page-header__item:last-child {
    text-align: center;
    margin-right: 40px;
  }

  .navigation-list {
    list-style-type: none;
  }

  .navigation-list li {
    display: inline-block;
  }

  .navigation-list__item--active {
    text-decoration: none;
  }

  .profile__portrait {
    width: 18rem;
    margin: 5px;
  }

  .profile__item {
    margin: 10px;
    padding: 10px;
  }

  .profile__text {
    margin: 25px 10px 10px 10px;
  }

  .about {
    width: 95%;
    margin: 10px;
  }
}

@media all and (min-width: 576px) and (max-width: 1024px) {
  .project-list {
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .about__item {
    max-width: 85%;
  }

  .profile__text {
    margin: 25px 10px 10px 10px;
  }
}

@media all and (max-width: 768px) {
  .project-list {
    grid-gap: 10px;
  }

  .profile__portrait {
    margin: 5px;
  }

  .profile__item {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

  h1 {
    font-size: 22px;
  }

  .about__item {
    max-width: 85%;
  }
}